
#manage-module{
    margin-left: 125px;
}

#manage-module h3{
    margin-left: 120px;
}

#manage-module button{
    margin-left: 3px;
}

#manage-module.row{
    margin-top: 10px;
}

#manage-module #header-title {
    font-size: 110%;
    font-weight: 600;
}

#manage-module input{
    width: 100%;
}

[data-job='freeze']{
    background: #869972;
}

[data-job='delete']{
    background: #ffaa7d;
}


.err-message{
    font-size:80%;
    color: red;
}