#leftMenu{
    list-style: none;
    margin-top: 40px;
    padding-left: 55px;

}
#leftMenu li{
    margin-top: 18px;
}

.container{
    margin-left: 0px;
    padding-left: 0px;
    width:100%;
}

.navbar-header{
    margin-left: 30px !important;
}

.navbar-text{
    color: #000 !important;
    font-size: 20px !important;
    margin-top: 12px !important;
}

.welcome{
    float: right;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 20px;
}

.welcome a:hover {
    cursor: pointer !important;
}

